.secondary{
    background-color: aliceblue;
}







@media (max-width: 1108px) {
    .col-4 {
        flex: 0 0 100%; 
        max-width: 100%;
    }
    .vh-100 {
        height: auto !important; 
    }
}